@import url("tldraw/tldraw.css");

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes page-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fade-in-up {
    animation: fade-in-up 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.animate-fade-in {
    animation: fade-in 1s ease both;
}
.animate-slide-in {
    animation: slide-in 0.7s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.animate-page-fade-in {
    animation: page-fade-in 0.7s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .view-title {
        @apply mb-2 w-full border-b pb-2 text-start text-lg;
    }
}

body {
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    --sb-track-color: #3d404a;
    --sb-thumb-color: #e1e1ffb3;
    --sb-size: 6px;
}

::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
    height: var(--sb-size);
    width: var(--sb-size);
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
    height: var(--sb-size);
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Editor */

.cm-editor {
    max-height: 93vh;
}

.cm-editor .cm-scroller {
    font-family: "Space Mono", monospace;
    /* min-height: 100vh; */
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .cm-editor {
        max-height: calc(93vh - 60px);
    }

    .cm-editor .cm-scroller {
        min-height: calc(93vh - 60px);
    }
}

/* Github Corner */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

/* Splitter Gutter Styles */
.split:hover .custom-gutter {
    opacity: 1 !important;
}

.custom-gutter {
    cursor: col-resize !important;
    transition: all 0.2s ease !important;
    border-radius: 2px !important;
}

.custom-gutter:hover {
    /* background-color: #2af169 !important; */
    /* box-shadow: 0 0 8px rgba(46, 218, 49, 0.5) !important; */
    transform: scaleX(1.2) !important;
}

.custom-gutter:active {
    /* background-color: #25c43d !important; */
    /* box-shadow: 0 0 12px rgba(46, 228, 92, 0.7) !important; */
}
